{% extends 'base.html' %}

{% block content %}
{{ super() }}
<p>Содержимое главной страницы</p>
<img src="https://s1.1zoom.ru/big7/977/Mountains_Scenery_473520.jpg" height="250" alt="Картинка">
<p>Предварительные выводы неутешительны: внедрение современных методик требует 
    определения и уточнения поэтапного и последовательного развития общества. 
    Но сторонники тоталитаризма в науке рассмотрены исключительно в разрезе 
    маркетинговых и финансовых предпосылок! Имеется спорная точка зрения, гласящая 
    примерно следующее: явные признаки победы институционализации являются только методом 
    политического участия и объявлены нарушающими общечеловеческие нормы этики и морали. 
    Мы вынуждены отталкиваться от того, что консультация с широким активом играет 
    определяющее значение для системы обучения кадров, соответствующей насущным 
    потребностям.</p>








{% endblock %}