{% extends 'base.html' %}

{% block content %}
{{ super() }}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash {{cat}}">{{ msg }}</div>
{% endfor %}
<h1>Форма заполения</h1>
<form method="POST" class="form-contact">
    {{ form.csrf_token }}
    <p>{{ form.name_film.label }}{{ form.name_film(size=20, padding=100) }}</p>
    <p>{{ form.year.label }}{{ form.year(size=20) }}</p>
    <p>{{ form.rating.label }}{{ form.rating(size=20) }}</p>
    <p>{{ form.genre.label }}{{ form.genre(size=20) }}</p>
<input type="submit" value="Отправить">
</form>

{% endblock %}

